@media screen and (max-width: 768px) {
    .table-responsive {
    overflow-x: auto;
    }
    }
    
    @media screen and (max-width: 576px) {
    .table thead {
    display: none;
    }
    
    .table td, .table th {
    display: block;
    text-align: center;
    }
    
    .table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    margin-right: 0.5rem;
    text-align: left;
    }
    
    .table td:last-child {
    border-bottom: none;
    }
    }